.image-container {
  background: blue;
  height: 40rem;
  position: relative;
}

.image-buttons {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.button-left {
  position: absolute;
  top: 50%;
  left: 1rem;
  opacity: 0;
  transition: opacity 150ms ease;
  transform: translate(50%, -50%);
  background:rgb(255, 0, 191);
}

.button-right {
  position: absolute;
  top: 50%;
  right: 1rem;
  opacity: 0;
  transition: opacity 150ms ease;
  transform: translate(-50%, -50%);
  background:red;

}

.image-container:hover .button-left,
.image-container:hover .button-right {
  opacity: 1;
  pointer-events: auto;
}

.image-box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}