.live-dates {
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-gig {
    outline: 2px solid #1C1C1E;
    border-radius: 0.75rem;
    overflow: hidden;
}

.live-gig-maps:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    background-color: #ca6164;
}