#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #4a6660;
  color: #1C1C1E;
  position: relative;
}

#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.15'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  position: relative;
  z-index: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
  height: 100%;
  background-image: url(/logo.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}


.header {
  width: 100%;
  min-height: 4rem;
  gap: 0.75rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.header-child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  font-weight: bold;
  font-size: large;
  font-family: impact, sans-serif;
}


.background-box {
  padding: 0.5rem;
  background-color: #f4f4f5;
  border-radius: 0.75rem;
  border-color: #1c1c1e;
  border-width: 0.1rem;
  margin: auto;
}

.navigation-item {
  color: #1c1c1e;
  font-weight: bold;
}

.footer {
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: auto;
}

.footer-social:hover {
  color: #ca6164;
}

.footer-togglelang {
  font-weight: bold;
  border-color: #1c1c1e;
  border-radius: 0.5rem;
  padding: 0.75rem;
  background-color: #a1aaaa;
}

.footer-togglelang:hover {
  background-color: #ca6164;

}

.footer_copyright {
  display: flex;
  justify-content: center;
}

/* Styling for bigger screens*/
@media (min-width: 768px) {

  .footer {
    padding-top: 3rem;
      padding-bottom: 2rem;
  }

  .main-content {
    background-size: 20%;
  }
}
